* {
    background-color: #000000;
    color: #f2f2f2;
    font-size: 20px;
    font-family: "Ubuntu Mono", monospace;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f2f2f2;
    text-decoration: none;
}

button {
    background-color: #04AA6D;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

th, td{
    text-align: left;
    border: 1px solid #f2f2f2;
    padding: 4px;
}

input[type=email],
input[type=password],
input[type=text] {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
}

textarea {
    width: 100%;
    height: 680px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.flash {
    margin-bottom: 8px;
    margin-top: 8px;
    color: #04AA6D;
}

.error {
    color: #b33224;
    font-weight: bold;
    display: block;
}

.error+textarea,
.error+input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0px;
}

#navbar a,
#navbar form {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navleft a {
    float: left;
}

#navright a,
#navright form {
    float: right;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.notes a {
    flex-grow: 1;
    background-color: #000000;
    border: 2px solid #f2f2f2;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#note pre {
    white-space: pre-wrap;
    margin: 0;
    padding: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border: 1px solid rgba(240, 240, 240, 0.5);
}

#note p,
#note h1,
#note h2,
#note h3,
#note ul {
    margin: 0;
}

#note-edit {
    display: flex;
    gap: 18px;
    justify-content: right;
    margin: 8px;
}

.input-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}